<!DOCTYPE html>
<html lang="en">

<head>
    <link href="styles.css" rel="stylesheet">
    <title>Edit Employee</title>
</head>

<body>
    <ul class="nav">
        <li><a href="./">Home</a></li>
        <li><a href="./customers">Customers</a></li>
        <li><a href="./books">Books</a></li>
        <li><a href="./orders">Orders</a></li>
        <li><a href="./order_items">Order Items</a></li>
        <li><a href="./employees">Employees</a></li>
    </ul>

    <h1>Edit Employee</h1>

    <form id='update-employee-form' method='POST' action='/update-employee-form'>
        {{#each data}}
        <fieldset>
            <label for="first_name">First Name:</label>
            <input type="text" value="{{this.first_name}}" name="first_name_update" id="first_name_update"
                required="required" class="add-edit-field" />

            <br>
            <label for="last_name">Last Name:</label>
            <input type="text" value="{{this.last_name}}" name="last_name_update" id="last_name_update"
                required="required" class="add-edit-field" />

            <br>
            <button value="{{this.employee_id}}" name="employee_id_update" id="employee_id_update">Submit
                changes</button>
        </fieldset>
        {{/each}}
    </form>

    <br>
    <a href="/employees">Return to list of employees</a>

    <br>
    <a href="/">Return to the Home Page</a>
</body>

</html>