<!-- index.hbs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="styles.css" rel="stylesheet">
    <title>The Reading Nook</title>
</head>

<body>

    <ul class="nav">
        <li><a href="./">Home</a></li>
        <li><a href="./customers">Customers</a></li>
        <li><a href="./books">Books</a></li>
        <li><a href="./orders">Orders</a></li>
        <li><a href="./order_items">Order Items</a></li>
        <li><a href="./employees">Employees</a></li>
    </ul>

    <h1>Welcome to The Reading Nook!</h1>
    <h3>Index of all Pages:</h3>
    <p>Customers</p>
    <ul>
        <li><a href="/customers">Customers - View/Edit/Delete</a></li>
        <li><a href="/new_customer">Add a new Customer</a></li>
    </ul>

    <p>Books</p>
    <ul>
        <li><a href="/books">Books - View/Edit/Delete</a></li>
        <li><a href="/new_book">Add a new Book</a></li>
    </ul>

    <p>Orders</p>
    <ul>
        <li><a href="/orders">Orders - View/Add Items/Delete</a></li>
        <li><a href="/new_order">Add a new Order</a></li>
    </ul>
    <p>Order Items</p>
    <ul>
        <li><a href="/order_items">Order Items - View/Add/Delete</a></li>
    </ul>

    <p>Employees</p>
    <ul>
        <li><a href="/employees">Employees - View/Edit/Delete</a></li>
        <li><a href="/new_employee">Add a new Employee</a></li>
    </ul>
</body>

</html>