
body {
    background-color: aliceblue;
    color: #234E70;
}

.nav {
    display: flex; 
    list-style-type: none; 
    justify-content: center;
    align-items: center;
    background-color: #3285a8;
    height: 50px;
    border: 3px solid lightsteelblue;
}

.nav li {
    list-style: none;
    padding: 50px;
}

.nav a {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.nav a:hover {
    color: #A7BEAE;
    height: 30px;
}
  
h1 {
    color: darkslateblue;
    text-align: center;
}

  
table {
    border: 2px solid lightsteelblue;
    background-color: white;
}

caption {
    font-size: larger;
    color: darkslateblue;
    padding-bottom: 10px;
}
  
th {
    border: 1px solid lightsteelblue;
    color: darkslateblue;
    background-color: lightgrey;
    width: 300px;
}
  
td {
    border: 1px solid lightsteelblue;
    text-align: left;
    color: #234E70;
}

.radio{
    text-align: left;
}

label {
    display: inline-block;
    clear: left;
    width: 150px;
    text-align: right;
}

input {
    color: darkslateblue;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
}

.center_button {
    text-align: center;
    margin: auto;
    display: flex;
}  

.search-form{
    text-align: center;
    margin-right: 150px;
}

.search-field{
    align-self: center;
    width: 300px;
} 

.search-header{
    clear: left;
    width: 160px;
    margin-left:145px;
    text-align: center;
}

.search-button{
    align-self:center;
    margin-left: 150px;
}

.add-edit-field{
    width: 800px;
}

button {
    color: darkslateblue;
    margin-left: 10px;
    margin-top: 20px;
}
  